@import "reset.css";
@import "layout.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 21px;
}

.lid {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 20px;
}
